<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc0cb;">
    <a class="navbar-brand" href="https://github.com/agnesarth/the_gossip_project_le_retour">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to "Accueil", root_url, class:"nav-link" %>
        </li>
        <li class="nav-item active">
        <%= link_to "La Team", team_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Contact", contact_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="texte-bienvenue">
    <h1 class="text-center">La team TGP</h1>
    <div class= row style= "display: flex; flex-flow: row wrap; justify-content: space-around">
      <div class="card" style="width: 18rem">
        <div class="card-body" style="background-color:#ffc0cb;">
          <img src="<%=Faker::Avatar.image%>" class="img-thumbnail">
          <h5 class="card-title text-center text-muted" >Agnès<br /></h5>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body" style="background-color:#ffc0cb;">
          <img src="<%=Faker::Avatar.image%>" class="img-thumbnail">
          <h5 class="card-title text-center text-muted" >Lucile<br /></h5>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body" style="background-color:#ffc0cb;">
          <img src="<%=Faker::Avatar.image%>" class="img-thumbnail">
          <h5 class="card-title text-center text-muted" >Raphaël<br /></h5>
        </div>
      </div>
    </div>

    <p>ET mention spéciale à Dolorès qui fait partie du staff à l'insu de son plein gré.</p>
  </div>
</div>



